Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/DataTypeAndConversion.csproj.nuget.dgspec.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/DataTypeAndConversion.csproj.nuget.g.props
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/project.assets.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/project.nuget.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.AssemblyInfo.cs
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.AssemblyInfoInputs.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.assets.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.GeneratedMSBuildEditorConfig.editorconfig
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/bin/Debug/net9.0/DataTypeAndConversion.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/bin/Debug/net9.0/DataTypeAndConversion.exe
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/bin/Debug/net9.0/DataTypeAndConversion.pdb
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/apphost.exe
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.csproj.FileListAbsolute.txt
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.genruntimeconfig.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.pdb
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.sourcelink.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/ref/DataTypeAndConversion.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/refint/DataTypeAndConversion.dll
