Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/DataTypeAndConversion.csproj.nuget.dgspec.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/DataTypeAndConversion.csproj.nuget.g.props
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/project.assets.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/project.nuget.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.AssemblyInfo.cs
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.AssemblyInfoInputs.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.assets.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.GeneratedMSBuildEditorConfig.editorconfig
