Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/DataTypeAndConversion.csproj.nuget.dgspec.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/DataTypeAndConversion.csproj.nuget.g.props
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/project.assets.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/project.nuget.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.AssemblyInfo.cs
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.AssemblyInfoInputs.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.assets.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.GeneratedMSBuildEditorConfig.editorconfig
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/bin/Debug/net9.0/DataTypeAndConversion.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/bin/Debug/net9.0/DataTypeAndConversion.exe
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/bin/Debug/net9.0/DataTypeAndConversion.pdb
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/apphost.exe
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.csproj.FileListAbsolute.txt
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.genruntimeconfig.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.pdb
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.sourcelink.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/ref/DataTypeAndConversion.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/refint/DataTypeAndConversion.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/refint/StudentGradeManagementSystem.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/ref/StudentGradeManagementSystem.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/StudentGradeManagementSystem.sourcelink.json
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/StudentGradeManagementSystem.pdb
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/StudentGradeManagementSystem.genruntimeconfig.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/StudentGradeManagementSystem.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/StudentGradeManagementSystem.csproj.FileListAbsolute.txt
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/StudentGradeManagementSystem.csproj.CoreCompileInputs.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/StudentGradeManagementSystem.AssemblyInfoInputs.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/StudentGradeManagementSystem.AssemblyInfo.cs
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/apphost.exe
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/bin/Debug/net9.0/StudentGradeManagementSystem.pdb
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/bin/Debug/net9.0/StudentGradeManagementSystem.exe
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/bin/Debug/net9.0/StudentGradeManagementSystem.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/StudentGradeManagementSystem.assets.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/bin/Debug/net9.0/StudentGradeManagementSystem.deps.json
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/bin/Debug/net9.0/StudentGradeManagementSystem.runtimeconfig.json
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net9.0/StudentGradeManagementSystem.GeneratedMSBuildEditorConfig.editorconfig
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/StudentGradeManagementSystem.csproj.nuget.g.props
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/StudentGradeManagementSystem.csproj.nuget.dgspec.json
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/project.nuget.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/project.assets.json
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/bin/Debug/net9.0/AsynchronousProgrammingDemo.deps.json
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/bin/Debug/net9.0/AsynchronousProgrammingDemo.dll
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/bin/Debug/net9.0/AsynchronousProgrammingDemo.exe
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/bin/Debug/net9.0/AsynchronousProgrammingDemo.pdb
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/bin/Debug/net9.0/AsynchronousProgrammingDemo.runtimeconfig.json
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/apphost.exe
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.AssemblyInfo.cs
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.AssemblyInfoInputs.cache
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.csproj.CoreCompileInputs.cache
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.csproj.FileListAbsolute.txt
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.dll
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.genruntimeconfig.cache
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.pdb
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.sourcelink.json
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/ref/AsynchronousProgrammingDemo.dll
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/refint/AsynchronousProgrammingDemo.dll
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.AssemblyInfoInputs.cache
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.AssemblyInfo.cs
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.GeneratedMSBuildEditorConfig.editorconfig
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/Debug/net9.0/AsynchronousProgrammingDemo.assets.cache
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/bin/Debug/net9.0/LibraryManagementSystem.deps.json
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/bin/Debug/net9.0/LibraryManagementSystem.dll
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/bin/Debug/net9.0/LibraryManagementSystem.exe
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/bin/Debug/net9.0/LibraryManagementSystem.pdb
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/bin/Debug/net9.0/LibraryManagementSystem.runtimeconfig.json
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/apphost.exe
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/LibraryManagementSystem.AssemblyInfo.cs
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/LibraryManagementSystem.AssemblyInfoInputs.cache
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/LibraryManagementSystem.csproj.CoreCompileInputs.cache
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/LibraryManagementSystem.csproj.FileListAbsolute.txt
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/LibraryManagementSystem.dll
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/LibraryManagementSystem.genruntimeconfig.cache
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/LibraryManagementSystem.pdb
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/LibraryManagementSystem.sourcelink.json
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/ref/LibraryManagementSystem.dll
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/refint/LibraryManagementSystem.dll
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/LibraryManagementSystem.GeneratedMSBuildEditorConfig.editorconfig
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/Debug/net9.0/LibraryManagementSystem.assets.cache
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/bin/Debug/net9.0/BankingConsoleApp.deps.json
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/bin/Debug/net9.0/BankingConsoleApp.dll
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/bin/Debug/net9.0/BankingConsoleApp.exe
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/bin/Debug/net9.0/BankingConsoleApp.pdb
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/bin/Debug/net9.0/BankingConsoleApp.runtimeconfig.json
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/apphost.exe
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/BankingConsoleApp.AssemblyInfo.cs
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/BankingConsoleApp.AssemblyInfoInputs.cache
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/BankingConsoleApp.csproj.CoreCompileInputs.cache
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/BankingConsoleApp.csproj.FileListAbsolute.txt
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/BankingConsoleApp.dll
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/BankingConsoleApp.genruntimeconfig.cache
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/BankingConsoleApp.pdb
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/BankingConsoleApp.sourcelink.json
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/ref/BankingConsoleApp.dll
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/refint/BankingConsoleApp.dll
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/BankingConsoleApp.assets.cache
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/Debug/net9.0/BankingConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/AsynchronousProgrammingDemo.csproj.nuget.dgspec.json
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/AsynchronousProgrammingDemo.csproj.nuget.g.props
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/project.assets.json
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/project.nuget.cache
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/BankingConsoleApp.csproj.nuget.dgspec.json
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/BankingConsoleApp.csproj.nuget.g.props
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/project.assets.json
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/project.nuget.cache
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/LibraryManagementSystem.csproj.nuget.dgspec.json
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/LibraryManagementSystem.csproj.nuget.g.props
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/project.assets.json
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/project.nuget.cache
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/project.nuget.cache
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/project.assets.json
Introduction_to_Programming_with CSharp/Code_Snippets/LibraryManagementSystem/obj/LibraryManagementSystem.csproj.nuget.dgspec.json
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/project.nuget.cache
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/project.assets.json
Introduction_to_Programming_with CSharp/Code_Snippets/BankingConsoleApp/obj/BankingConsoleApp.csproj.nuget.dgspec.json
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/project.nuget.cache
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/project.assets.json
Introduction_to_Programming_with CSharp/Code_Snippets/AsynchronousProgrammingDemo/obj/AsynchronousProgrammingDemo.csproj.nuget.dgspec.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/bin/Debug/net10.0/DataTypeAndConversion.deps.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/bin/Debug/net10.0/DataTypeAndConversion.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/bin/Debug/net10.0/DataTypeAndConversion.exe
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/bin/Debug/net10.0/DataTypeAndConversion.pdb
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/bin/Debug/net10.0/DataTypeAndConversion.runtimeconfig.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/apphost.exe
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/DataTypeAndConversion.AssemblyInfo.cs
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/DataTypeAndConversion.AssemblyInfoInputs.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/DataTypeAndConversion.assets.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/DataTypeAndConversion.csproj.CoreCompileInputs.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/DataTypeAndConversion.csproj.FileListAbsolute.txt
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/DataTypeAndConversion.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/DataTypeAndConversion.GeneratedMSBuildEditorConfig.editorconfig
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/DataTypeAndConversion.genruntimeconfig.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/DataTypeAndConversion.GlobalUsings.g.cs
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/DataTypeAndConversion.pdb
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/DataTypeAndConversion.sourcelink.json
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/ref/DataTypeAndConversion.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net10.0/refint/DataTypeAndConversion.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/DataTypeAndConversion/obj/Debug/net9.0/DataTypeAndConversion.csproj.CoreCompileInputs.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/StudentGradeManagementSystem.GlobalUsings.g.cs
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/StudentGradeManagementSystem.GeneratedMSBuildEditorConfig.editorconfig
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/StudentGradeManagementSystem.assets.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/StudentGradeManagementSystem.AssemblyInfoInputs.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/StudentGradeManagementSystem.AssemblyInfo.cs
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/refint/StudentGradeManagementSystem.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/ref/StudentGradeManagementSystem.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/StudentGradeManagementSystem.sourcelink.json
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/StudentGradeManagementSystem.pdb
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/StudentGradeManagementSystem.genruntimeconfig.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/StudentGradeManagementSystem.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/StudentGradeManagementSystem.csproj.FileListAbsolute.txt
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/StudentGradeManagementSystem.csproj.CoreCompileInputs.cache
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/obj/Debug/net10.0/apphost.exe
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/bin/Debug/net10.0/StudentGradeManagementSystem.runtimeconfig.json
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/bin/Debug/net10.0/StudentGradeManagementSystem.pdb
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/bin/Debug/net10.0/StudentGradeManagementSystem.exe
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/bin/Debug/net10.0/StudentGradeManagementSystem.dll
Foundations_of_Coding_Full_Stack/Code_Snippets/StudentGradeManagementSystem/bin/Debug/net10.0/StudentGradeManagementSystem.deps.json
