<nav>
   <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/counter">Counter</a></li>
       <li><a href="/signalr-chat">SignalR Chat</a></li>
       <li><a href="/state">State Management</a></li>
   </ul>
</nav>