<div>
    <p>@TaskName</p>
    <button @onclick="MarkAsComplete">Mark As Complete</button>
</div>

@code
{
    [Parameter]
    public string TaskName { get; set; }

    [Parameter]
    public EventCallback<string> OnTaskCompleted { get; set; }

    private void MarkAsComplete()
    {
        OnTaskCompleted.InvokeAsync(TaskName);
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"TaskName is : {TaskName}");
    }
}