@page "/events/{Id:int}"
@rendermode InteractiveServer
@using EventEaseApp.Models
@using EventEaseApp.Components
@inject NavigationManager NavigationManager


<PageTitle>Event Details</PageTitle>

<h2 class="mb-4">Event Details</h2>

@if (eventDetails != null)
{
    <EditForm Model="eventDetails" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="my-4 col-md-8">
            <EventCard EventDetails="eventDetails" />
        </div>
        
        <button type="submit" class="btn btn-primary me-2">Save & Back to Event List</button>
    </EditForm>
}
else
{
    <p class="text-danger">Event not found.</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private EventModel eventDetails;

    protected override void OnInitialized()
    {
        eventDetails = EventModel.Events.FirstOrDefault(e => e.Id == Id);
    }

    private void HandleValidSubmit()
    {
        var existingEvent = EventModel.Events.FirstOrDefault(e => e.Id == eventDetails.Id);
        if (existingEvent != null)
        {
            existingEvent.Name = eventDetails.Name;
            existingEvent.Date = eventDetails.Date;
            existingEvent.Location = eventDetails.Location;
        }
        NavigationManager.NavigateTo("/events");
    }
}
