@page "/events/{Id:int}"
@rendermode InteractiveServer
@using EventEaseApp.Models
@using EventEaseApp.Components

<PageTitle>Event Details</PageTitle>

<h2>Event Details</h2>

@if (eventDetails != null)
{
    <div class="my-4 col-md-8">
        <EventCard EventDetails="eventDetails" />
    </div>
    
    <div class="d-flex gap-2">
        <a href="/events" class="btn btn-secondary">Save & Back to Event List</a>
    </div>
}
else
{
    <p class="text-danger">Event not found.</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private EventModel eventDetails;

    protected override void OnInitialized()
    {
        eventDetails = EventModel.Events.Find(e => e.Id == Id);
    }
}
