@page "/events/register"
@rendermode InteractiveServer
@using EventEaseApp.Models
@using EventEaseApp.Components
@inject NavigationManager NavigationManager

<PageTitle>Create New Event</PageTitle>

<h2 class="mb-4">Create New Event</h2>

<div class="row">
    <div class="col-md-6 mb-4">
        <!-- Reusing Event Card for Two-Way Data Binding input -->
        <EventCard EventDetails="newEvent" />
        
        <button class="btn btn-success w-100 mt-3" @onclick="CreateEvent">Register Event</button>
        <a href="/events" class="btn btn-outline-secondary w-100 mt-2">Cancel</a>
    </div>
</div>

@code {
    private EventModel newEvent;

    protected override void OnInitialized()
    {
        newEvent = new EventModel 
        { 
            Id = EventModel.Events.Count + 1, 
            Date = DateTime.Today 
        };
    }

    private void CreateEvent()
    {
        EventModel.Events.Add(newEvent);
        NavigationManager.NavigateTo("/events");
    }
}
