@page "/events"
@using EventEaseApp.Models
@using EventEaseApp.Components

<PageTitle>Event List</PageTitle>

<h2 class="mb-4">Upcoming Events</h2>

<div class="row">
    @foreach (var evt in events)
    {
        <div class="col-md-6 mb-4">
            <EventCard EventDetails="evt" />
            <div class="d-flex gap-2 mt-2">
                <a href="/events/@evt.Id" class="btn btn-outline-primary w-100">View Details</a>
                <a href="/events/register/@evt.Id" class="btn btn-success w-100">Register</a>
            </div>
        </div>
    }
</div>

@code {
    private List<EventModel> events = new List<EventModel>
    {
        new EventModel { Id = 1, Name = "Annual Tech Conference", Date = DateTime.Today.AddDays(30), Location = "Convention Center" },
        new EventModel { Id = 2, Name = "Music Festival", Date = DateTime.Today.AddDays(45), Location = "City Park" },
        new EventModel { Id = 3, Name = "Art Expo", Date = DateTime.Today.AddDays(60), Location = "Downtown Gallery" }
    };
}