/* Reset margins and paddings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basic Styling */
body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
}

/* Header and Footer Styling */
header,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation Styling */
nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #a6a6a6;
    padding: 10px;
}

/* Main Content Layout */
main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

aside {
    width: 30rem;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    aside {
        width: 100%;
        margin-top: 20px;
    }
}

/* CSS Animations */
nav ul li a:hover {
    color: red;
    transition: color 0.3s ease;
}

/* Material Style Button */
#fetch-data {
    background-color: #2196F3; /* Material Design blue */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.2s ease-in-out;
}

#fetch-data:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

header {
    animation: slide 2s ease-in-out infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}